<ion-view title="Nearby" id="page8">
    <ion-content padding="true" class="has-header">
        <ion-list id="history-list6">
            <ion-item class="balanced" id="queues-list-item8"> Laurier Starbucks
                <br>
                <dd>Current Line Size: 10 </dd>
            </ion-item>
            <ion-item class="balanced" id="queues-list-item9"> Laurier Timhortons
                <br>
                <dd>Current Line Size: 25 </dd>
            </ion-item>
            <ion-item class="balanced" id="queues-list-item10"> Laurier Bookstore
                <br>
                <dd>Current Line Size: 20 </dd>
            </ion-item>
            <ion-item class="balanced" id="queues-list-item11"> Mozy's Shwarma
                <br>
                <dd>Current Line Size: 6 </dd>
            </ion-item>
            <ion-item class="balanced" id="queues-list-item12"> Phil's Nightclub
                <br>
                <dd>Current Line Size: 80 </dd>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>